%p#notice= notice
%h1 Listing Articles
%table
  %thead
    %tr
      %th Title
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.content
        %td= link_to 'Show', article
        
        %div
          %p= article.tag
          - article.tag.each do |t|
            %p= link_to t, article
%p
%div 
  %h2 
  %h1 TAGS
