%p#notice= notice
%p
  %strong Title:
  = @article.title
%p
  %strong Content:
  = @article.content

%h2 Comments

%ul.list-unstyled
  -@article.comments.each do |comment|
    %li
      %blockquote
        %p=comment.body
        %footer
          #{comment.name},
          %em=comment.id.generation_time
%br/

%h3 Add a comment

= form_for ([@article, @comment]) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit


= link_to 'Edit', edit_article_path(@article)
|
= link_to 'Back', articles_path
