%p#notice= notice
%h1 Blog Details

%span
  - @blog_details.each do |blog|
    %p= blog.author
    -social_accounts = blog.social_accounts.join(", ")
    %p=social_accounts

    -topics = blog.topics.join(", ")
    %p= topics#blog.topics

    %p= blog.blurb
    %p= blog.blog_title
    =link_to "Update", edit_admin_blog_detail_path(blog)
    =link_to "Delete", admin_blog_detail_path(blog), method: :delete, data: { confirm: 'Are you sure?' } 

%span
  =link_to @create_details, new_admin_blog_detail_path

%p
/ =form_tag 'admin_blog_details', :onclick => remote_function(:controller => :blog_detail, :action => :index) # method: :get do 
/   =submit_tag 'Export to JSON' 
    
= button_to "Export to JSON", url_for(:action => 'export_to_json', :controller=> :blog_details)