%h1 Blog Details

%span
  - @blog_details.each do |blog|
    %p= blog.author
    %p= blog.topics
    %p= blog.blurb
    %p= blog.blog_title
    %p= blog
    =link_to "Update", edit_admin_blog_detail_path(blog)

    