<!DOCTYPE html>
<html>
<head>
  <title>Mongoblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    Welcome <%= current_user.email %>
  <% else %>
  <%= link_to "login", new_user_session_path %>
  or
  <%= link_to "signup", new_user_registration_path %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
